p There is an information of company that has posted on platform.
br
p User information :
br
p Name: #{userName} 
p Email of user: #{email} 
p Position Of User: #{positionOfUser} 
br
p User information :
br
p Company name: #{companyName} 
p Describe: #{description1} 
p Description: #{description2} 
p Country: #{country} 
p Area: #{area} 
p Type Of Business: #{typeOfBusiness} 
p Commodity: #{commodity} 
br
p #{willingToText} : 
p #{willingTo} 
br
p Date Of Establishment : #{dateOfEstablishment} 
p Total Annual Revenue : #{annualRevenue} 
p Total Annual Profit : #{annualProfit} 
p Number of employees : #{numberOfEmployees} 
br
br
p The transactions that user interested in or willing to :
br
p Sell of shares: #{sellOfShares} %
br
p What is your expected price? 
p #{expectedPriceOfShares} USD for #{expectedPriceOfSharesPercent}% of shares
br
p Issuance of new shares (receiving investment) 
p How much are you willing to raise money? : #{issuanceRaiseMoney}
p How much percent of shares are you willing to issue and at what price?
p #{issuancePriceOfShares} USD for #{issuancePriceOfSharesPercent} % of shares
br
p Business collaboration 
p Are you willing to do the business collaboration with Japanese, Chinese or Korean companies? : #{businessCollaboration}
br
p How do you wish to collaborate?
p #{collaborationDetail}
br
br
br
p The End