doctype html
html
  head
    title Your Company Summary Request
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      @media only screen and (max-width: 600px) {
        table {
          width: 100% !important;
        }
      }
  body(style="font-family: Arial, sans-serif; margin: 0; padding: 0;")
    table(width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f4f4f4")
      tr
        td(align="center" valign="top")
          table(width="600" border="0" cellpadding="10" cellspacing="0" bgcolor="#ffffff" style="padding: 30px")
            tr
              td(align="center")
                h1(style="font-size: 24px; margin-bottom: 20px;") Company Summary Review Request
            tr
              td(align="left")
                p We have prepared a non-name summary of your company named #{companyName} to be posted on the platform for investors. The summary details are as follows:
                p 
                  strong Country: 
                  | #{country}
                p 
                  strong Area: 
                  | #{area}
                p 
                  strong Title: 
                  | #{title}
                p 
                  strong Type of Business: 
                  | #{typeOfBusiness}
                p 
                  strong Content: 
                  br
                  | #{content}
                  br
                p 
                  strong Annual Revenue: 
                  | #{annualRevenue} M USD
                p 
                  strong Number of Employees: 
                  | #{numberOfEmployees}
                p 
                  strong Year of Establishment: 
                  | #{years} years
                p Please check the summary, and if you are ok with it, please click "accept". If you would like to edit the contents, please click "edit" and make edits that you desire.
            tr
              td(align="center")
                table(border="0" cellpadding="0" cellspacing="5" style="margin: 20px auto; text-align: center;")
                  tr
                    td(bgcolor="#a4c761" style="padding: 12px 24px; margin-right: 10px; width: 50px; text-align: center;")
                      a(href=acceptLink style="font-size: 16px; color: #ffffff; text-decoration: none;") Accept
                    td(bgcolor="#f4b400" style="padding: 12px 24px; margin-left: 10px; width: 50px")
                      a(href=editLink style="font-size: 16px; color: #ffffff; text-decoration: none; text-align: center;") Edit
            tr
              td(align="left" style="font-size: 12px; font-style: italic;")
                span * 
                | This is an automated message. Please do not reply directly to this email.
            tr
              td(align="left")
                p If you have any issues or questions, please 
                  a(href="mailto:info@mp-asia.com" style="text-decoration: underline;") contact our support team
                p Thank you!
